@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.CTA {
  background-image: url("./verifiedCTA.jpg");
  background-size: cover;
  background-position: calc(50% - 10px) center;
  background-repeat: repeat-x;
  @apply shadow-lg shadow-neutral-500;
}

.iconEmoji {
  @apply text-[47px] text-center bg-gradient-to-b from-blue-500 to-neutral-800 w-[60%] mx-auto;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.buttonUni {
  @apply w-[90px] border-white border-2 focus:text-blue-400 focus:border-blue-400 focus:ring-blue-400 focus:ring-2 rounded-lg  !important;
}

.OAuth {
  @apply border-white border-2 bg-gradient-to-b from-blue-500 to-neutral-800 w-[90px];
}

.gradientUni {
  @apply bg-gradient-to-b from-neutral-100 to-neutral-200 border-[0.5px];
}

.buttonUniLight {
  @apply border-black bg-white text-black border-2 focus:text-blue-400 focus:border-blue-400 focus:ring-blue-400 focus:ring-2 rounded-lg shadow-md shadow-neutral-300 hover:-translate-y-3  transition-all hover:bg-neutral-900 hover:text-white hover:border-white !important;
}

[data-testid="flowbite-dropdown-target"] {
  @apply border-white border-2 hover:border-blue-400 hover:text-blue-400 focus:ring-blue-400 focus:ring-2 !important;
}

[data-testid="footer-divider"] {
  @apply border-blue-300 !important;
}

[data-testid="floating-label"] {
  @apply text-white;
}

[data-testid="flowbite-footer"] {
  @apply bg-neutral-950;
  border-radius: 0;
}

.getStarted {
  animation: clickable 2s ease-in-out infinite;
}

@keyframes clickable {
  0% {
    transform: scale(1);
    transform: translateY(0);
  }
  50% {
    transform: scale(1.1);
    transform: translateY(-5px);
  }
  100% {
    transform: scale(1);
    transform: translateY(0);
  }
}
